body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: rgb(231, 231, 231);
}

#main {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 40px;
    padding-bottom: 60px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    font-family: inter, sans-serif;
    font-weight: bold;
    font-size: 13px;
    background-image: linear-gradient(#8b7ec2, #7f7ce2);
    color: white;
    /* border-radius: 20px 20px 0px 0px; */
}

#input-el {
    margin-top: 10px;
    width: 90px;
    height: 77px;
    text-align: center;
    font-size: 3rem;
    font-family: poppins, sans-serif;
    border: 2px solid white;
    border-radius: 4px;
    background-color: #a690ff;
    color: white;
}


#convert-btn {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: white;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
}

#convertors {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 0px;
}

.convertors-el {
    background-color: #a690ff;
    /* background-image: linear-gradient(#a690ff , rgba(252, 252, 252, 0.106)); */
    margin: 20px 0px;
    padding: 20px 40px;
    font-family: inter, sans-serif;
    border-radius: 10px;
    width: 400px;
    color: rgb(38, 37, 107);
    /* border: 1px solid rgb(174, 235, 255); */
    
}
